body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .unclicked{
    background: grey;
  }
  .clicked{
    background: black;
    animation-duration: 25s;
    animation: 5s infinite alternate rotation;
  }
  .caseX{
    border: 2px solid red;
    color: red;
    background: url('croix.jpg');
    background-position: center; 

  }
  .caseO{
    border: 2px solid blue;
    color: blue;
    background: url("rond.png");
    background-position: center; 

  }
  @keyframes rotation {
    0% {
      font-size: 100px;
    }
    100% {
      font-size:25px;
    }
  }